@import '../style/color-var.scss';

.headers {
    max-width: 1440px;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 20px;
    background:#2fc2bb ;
    .title {
        width: 50%;
        text-align: left;
        h3 {
            color: $primary;
        }
    }
    .profile-wrapper {
        width: 50%;
        display: flex;
        padding-left: 35em;
        .photo {
            width: 30%;
            margin: 0 10px;
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
        .menu {
            h5 {
                padding: .25rem 1.5rem;
            }
        }
    }
}