@import '../style/color-var.scss';

.home {
    padding: 90px 20px 10px 20px;
    background: #fff5ea;
    height: 45rem;
    h5 {
        color: $primary;
        margin-bottom: 1rem;
    }
    .form-wrapper {
        .form-task {
            display: flex;
            height: 40px;
            .text {
                width: 100%;
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }
    .task-wrapper {
        margin-top: 20px;
        height: 31rem;
        background: $secondary;
        overflow: auto;
        .card-task {
            margin: 25px;
            border: 0.75px solid #c5c5c5;
            border-radius: 0.5em;
            .title-menu {
                display: flex;
                margin: 0 20px 10px 20px;
                border-bottom: 0.75px solid gray;
                justify-content: space-between;
                .status {
                    display: flex;
                    h4 {
                        padding: 5px;
                        margin: 10px 0;
                        line-height: inherit;
                    }
                    .completed {
                        padding: 5px;
                        margin: 15px 0;
                        font-size: 15px;
                        color: green;
                        line-height: inherit;
                    }
                    .not-complete {
                        padding: 5px;
                        margin: 15px 0;
                        font-size: 15px;
                        color: red;
                        line-height: inherit;
                    }
                }
                .btn-action {
                    width: 7.5%;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
            p {
                text-align: left;
                padding-left: 20px;
            }
        }
    }
}