@import '../style/color-var.scss';

.login-page {
    display: flex;
    .regis-wrapper  {
        width: 30%;
        height: 45rem;
        padding: 20px;
        background: #2fc2bb;
        color: $secondary;
        .paragraph {
            padding-top: 60px;
            p {
                margin-bottom: 5px;
            }
        }
        h3 {
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .wrapper-btn-regis {
            padding: 10px;
            .btn-regis {
                width: 100%;
                margin: 30px 0;
                border-radius: 1.1rem;
            }
        }
    }
    .form-wrapper {
        width: 100%;
        padding: 20px;
        background: #fff5ea;
        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            color: $primary;
        }
        .logo {
            padding: 15px 30px;
            img {
                border-radius: 10px;
            }
        }
        .form-login {
            margin: 50px 15rem;
            .check {
                text-align: left;
            }
            .btn-login {
                width: 100%;
                border-radius: 1.1rem;
            }
        }
    }
    .regis-mobile {
        display: none;
        span:hover {
            cursor: pointer;
            color: #1962ce;
        }
    }
}