//--------Tablet Size----------
@media all and (max-width: 1024px) {
    .regis-wrapper {
        width: 40% !important;
    }
    .logo {
        img {
            width: 30%;
        }
    }
    .form-login {
        margin: 50px 5rem !important;
    }

    .login-wrapper {
        width: 40% !important;
    }
    .form-regis {
        margin: 30px 5rem !important;
    }
}



//--------Mobile Size----------
@media all and (max-width: 670px) {
    .regis-wrapper, .login-wrapper {
        display: none;
    }
    .logo {
        img {
            width: 30%;
        }
    }
    .form-wrapper {
        height: 50rem;
        .regis-mobile, .login-mobile {
            display: block !important;
        }
    }
    .form-login {
        margin: 50px 2rem !important;
    }

    .login-wrapper {
        width: 40% !important;
    }
    .form-regis {
        margin: 30px 2rem !important;
    }
}