//--------Tablet Size----------
@media all and (max-width: 1024px) {
    .headers {
        .profile-wrapper {
            padding-left: 15em;
            .photo {
                width: 35%;
            }
        }
    }
    .home {
        .task-wrapper {
            .card-task {
                .title-menu {
                    .btn-action {
                        width: 15%;
                    }
                }
            }
        }
    }
}


//--------Mobile Size----------
@media all and (max-width: 670px) {
    .headers {
        .profile-wrapper {
            padding-left: 6em;
            .photo {
                width: 40%;
            }
        }
    }
    .home {
        .form-wrapper {
            height: 3rem !important;
        }
        .task-wrapper {
            .card-task {
                .title-menu {
                    .status {
                        h4 {
                            font-size: 20px;
                        }
                        .completed, .not-complete {
                            font-size: 12px;
                        }
                    }
                    .btn-action {
                        width: 30%;
                    }
                }
            }
        }
    }
}